---
layout: default
class: home
hide_breadcrumbs: true
title: 選擇一個開源軟體授權
permalink: /
---

<h2>
  <span>{</span>
  以下哪種情況最符合您的要求呢 ?
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="whatever">
    <a href="licenses/mit">
      <span class="triptych-sprite three-arrows"></span>
      <h3>我只想專心寫程式碼</h3>
    </a>
    <p>
      <a href="licenses/mit">MIT License</a> 是一個寬鬆的授權， 它允許別人用你的程式碼做任何事情，但必須保證你的所有權，並且你無須承擔程式碼使用產生的風險。
    </p>
    <p>
      {% include using-sentence.html license-id="mit" %}
    </p>
  </li>
  <li class="patents">
    <a href="licenses/apache-2.0/">
      <span class="triptych-sprite lightbulb"></span>
      <h3>我想保護我的專利</h3>
    </a>
    <p>
      <a href="licenses/apache-2.0/">Apache License 2.0</a> 與 MIT License 比較類似, 但提供了專利貢獻者的明確授權，使用者需要放置版權說明。
    </p>
    <p>
      {% include using-sentence.html license-id="apache-2.0" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
      <span class="triptych-sprite circular"></span>
      <h3>我關心專案分享與改進</h3>
    </a>
    <p>
      <a href="licenses/gpl-3.0/">GNU GPLv3</a> 是一個 Copyleft 授權， 所有使用了你源碼的人都必須按照相同的授權提供源碼， 使用者需要放置版權說明。
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  上面的那些都不滿足我的要求 ?
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>非軟體類內容</h3>
    <p>
      <a href="non-software">非軟體類授權</a>。
    </p>
  </li>
  <li>
    <h3>我想要更多選擇</h3>
    <p>
      <a href="licenses">更多開源軟體授權</a>。
    </p>
  </li>
  <li>
    <h3>我並不想要授權</h3>
    <p>
      <a href="no-license">你確定要這麼做</a>?
    </p>
  </li>
</ul>
