---
layout: default
permalink: licenses/
class: license-types
title: 開源授權
---

<p>軟體的開源授權授予所有使用者使用，修改以及共享的許可權，並明確表示了哪些行為是准許的，哪些行為是禁止的。 <a href="/">主頁</a> 上面推薦的幾種常用授權(GNU GPLv3, Apache License 2.0, 和 MIT License) 均屬於開源授權。</p>
<p style="font-size:small; margin-bottom: 40px">如果你想要檢視所有授權的允許和禁止的內容，請檢視 <a href="/appendix">附錄</a>.</p>

{% include license-overview.html license-id="agpl-3.0" %}
{% include license-overview.html license-id="gpl-3.0" %}
{% include license-overview.html license-id="lgpl-3.0" %}
{% include license-overview.html license-id="mpl-2.0" %}
{% include license-overview.html license-id="apache-2.0" %}
{% include license-overview.html license-id="mit" %}
{% include license-overview.html license-id="unlicense" %}

以上授權按照條款的嚴格程度排序，從嚴格到寬鬆。你可以從中為你的專案選擇一個合適的授權。如果你想了解更多，請檢視 <a href="/about/">關於頁面</a>。
