<div class="sidebar">

  <a href="#" data-clipboard-target="#license-text" data-proofer-ignore="true" class="js-clipboard-button button">複製 授權內容 到剪下板</a>
    
  <div class="how-to-apply">
    <h3>如何新增這個授權</h3>
    <p>
      {{ page.how | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% if page.note %}
    <p class="note">
      <strong>提示: </strong> {{ page.note | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% endif %}
    {% assign xgpl = false %}
    {% if page.spdx-id contains 'GPL' %}{% assign xgpl = true %}{% endif %}
    <p class="note"><strong>可選: </strong> 新增 <strong><code>{{ page.spdx-id }}</code>{% if xgpl %}+{% endif %}</strong>{% if xgpl %} (或 <strong><code>{{ page.spdx-id }}</code></strong> 以禁止新版本內容){% endif %} 到你的軟體描述資訊中，(例如, <a href="https://docs.npmjs.com/files/package.json#license">Node.js</a>, <a href="http://guides.rubygems.org/specification-reference/#license=">Ruby</a>, 和 <a href="http://doc.crates.io/manifest.html#package-metadata">Rust</a>)。 這可以讓別人明確瞭解該軟體是遵循哪種授權釋出的。</p>
  </div>

  {% if page.source %}
  <div class="source">
    <a href="{{ page.source }}">
      <span class="license-sprite"></span>
      Source
    </a>
  </div>
  {% endif %}

  {% if page.using %}
  <div class="projects-with-license">
    <h3>哪些專案正在使用本授權?</h3>
    <ul>
      {% for using in page.using %}
        {% for hash in using %}
          <li><a href="{{ hash[1] }}" target="_blank">{{ hash[0] }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div> <!-- /sidebar -->
